<%= form_for(customer) do |f| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :family_name %>
    <%= f.text_field :fam_name %>
  </div>
  <div class="field">
    <%= f.label :phone_Number %>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :Street_number %>
    <%= f.text_field :st_numb %>
  </div>


  <div class="field">
    <%= f.label :st_name %><br>
    <% Customer::STREETS.each do |s| %>
      <%= f.radio_button :st_name, s %>
      <%= f.label :st_name, s, value: s, class: "checkbox-label" %><br>
    <% end %>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
