<p id="notice"><%= notice %></p>

<h1>Neighbors List</h1>

<table>
  <thead>
    <tr>
      <th>Fam-Last-Name</th>

      <th>St-Number</th>

      <th>St-Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.fam_name %></td>
        <td><%= customer.st_numb %></td>
        <td><%= customer.st_name %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path, :class => "btn btn-primary btn-sm" %> <%= link_to 'Home', home_index_path, :class => "btn btn-primary btn-sm" %>
