<p id="notice"><%= notice %></p>

<h5>Neighbors Contact information Ordered by Family Last Name:</h5>


<table class="table table-striped"  >
  <thead>
    <tr>
      <th>Family Name</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Address</th>

      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.fam_name %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.email %></td>
        <td><%= customer.full_address %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Delete', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Neighbor', new_customer_path, :class => "btn btn-info btn-sm text-white" %> <%= link_to 'Home', home_index_path, :class => "btn btn-info btn-sm text-white" %>
