<p id="notice"><%= notice %></p>

<p>
  <strong>Family Name:</strong>
  <%= @customer.fam_name %>
</p>

<p>
  <strong>Street Number:</strong>
  <%= @customer.st_numb %>
</p>

<p>
  <strong>Street Name:</strong>
  <%= @customer.st_name %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer), :class => "btn btn-info btn-sm text-white" %>
<%= link_to 'Back to List', customers_path, :class => "btn btn-info btn-sm text-white" %>



<div id="orders">
  <% if @customer.orders.present? %>
    <h3>Customer Orders:</h3>
  <% end %>
  <% @customer.orders.each do |order| %>
  <table>
    <thead>
      <tr>
        <th>Document Name</th>

        <th>Qty </th>

        <th>Description </th>

        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
          <tr>
          <td><%= order.doc_name %></td>
          <td><%= order.doc_count %></td>
          <td><%= order.description %></td>

          <td><%= link_to 'Show', order %></td>
          <td><%= link_to 'Edit', edit_order_path(order) %></td>
          <td><%= link_to 'Delete', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
