<%= form_for(order) do |o| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= o.label :doc_name %>
    <%= o.text_field :doc_name %>
  </div>

  <div class="field">
    <%= o.label :doc_count %>
    <%= o.number_field :doc_count %>
  </div>

  <div class="field">
    <%= o.label :description %>
    <%= o.text_area :description %>
  </div>

  <div class="field_customer">
  <%= o.label :customer %>
  <div class="customers">
    <%= o.collection_select :customer_id, Customer.all,:id, :fam_name, include_blank: true%>
  </div>
</div>


  <div class="actions">
    <%= o.submit %>
  </div>
<% end %>
