<p id="notice"><%= notice %></p>

<h1>Orders</h1>



<table>
  <thead>
    <tr>
      <th>Doc-Name</th>
      <th>Doc-Count</th>
      <th>Description</th>
      <th>Family Name</th>
      <th>Address</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.doc_name %></td>
        <td><%= order.doc_count %></td>
        <td><%= order.description %></td>
        <td><%= order.customer.fam_name%></td>
        <td><%= order.customer.full_address%></td>

        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Delete', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path, :class => "btn btn-primary btn-sm" %> <%= link_to 'Home', home_index_path, :class => "btn btn-primary btn-sm" %>
