<p id="notice"><%= notice %></p>


<p>
  <strong>Document Name:</strong>
  <%= @order.doc_name %>
</p>

<p>
  <strong>Document Count:</strong>
  <%= @order.doc_count %>
</p>

<p>
  <strong>Description</strong>
  <%= @order.description %>
</p>

<%= link_to 'Edit', edit_order_path(@order), class:  "btn btn-info btn-sm text-white" %>
<%= link_to 'Back to Orders List', orders_path, :class => "btn btn-info btn-sm text-white" %>
