<%= form_for(payment) do |p| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field_customer">
  <%= p.label :Neighbor_Name%>
  <div class="customers">
    <%= p.collection_select :customer_id, Customer.all,:id, :fam_name, include_blank: true%>
  </div>
  </div>

  <div class="field">
    <%= p.check_box :pay_freq %>
    <%= p.label :Annual_Payment, class: "checkbox-label" %><br>
  </div>

  <p>Please enter your house square footage below:</p>


  <div class="field">
      <%= p.label :sqft %>
      <%= p.number_field :sqft %>
  </div>

<div class="actions">
    <%= p.submit value: @submit_text, "data-disable-with" => @submit_text, class: "btn btn-primary" %>
  </div>

<% end %>
